body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #40514e;
  font-size: 17px;
}

h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #30e3ca;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #30e3ca;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}

/* span {
  text-decoration: underline;
} */
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  width: 5%;
  border-color: #40514e;
}

a {
  color: #11999e;
}

/* p{
  width:450px
  position:relative;
} */


.topcontainer {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 160px;
  margin-bottom: 40px;
}
.bottomcloud {
  position: absolute;
  left: 150px;
  bottom: 240px;
}

.topcloud {
  position: absolute;
  right:180px;
  top:90px;
}
.mainpageinfo{
  position: relative;
  top:70px;
}

.mountain {
  position: relative;
  top: 4px;
}

.occupation {
  position: relative;
  bottom: 80px;
  /* color: #11999e; */
  font-size: 2rem;
  font-family: 'Cormorant Garamond', serif;
}

.bottomcontainer {
  background-color: #e4f9f5;
  padding: 50px 0 5px 0;
}

.myimage {
  position: relative;
  border-radius: 100%;
  /* top: 50px; */
  height: 100px;
  width: 100px;
}

/* .img1 {
  border-radius: 100%;
  float: left;
  width: 20%;
  margin-right: 60px;
}

.img2 {
  float: right;
  width: 25%;
}
.skill-row {
  text-align: left;
  width: 50%;
  margin: 0 auto 0 auto;
  line-height: 2;
} */

.img1 {
  /* border-radius: 100%; */
  /* float: left; */
  width: 20%;
  /* margin-right: 60px; */
}

.img2 {
  /* float: right; */
  width: 25%;
  /* margin-left: 60px; */
}

.skill-row {
  text-align: center;
  width: 50%;
  margin: 0 auto 0 auto;
  line-height: 2;
}

.phoneimg {
  width: 10%;
}

.bottomname {
  text-decoration: underline;
}

.footer-link {
  position: relative;
  text-decoration: none;
  margin: 0 10px 0 10px;
  bottom: 15px;
}
.footer-link:hover{
  color:#30e3ca;
}

.contact-me {
  position: relative;
  bottom: 30px;
}

.data {
  text-align: center;
  margin: 0 auto;
  line-height: 2;
  width: 450px;
}



#myname {
  position: relative;
  bottom: 10px;
}

/*=======================code for the button=====================*/
.BUTTON_CJK {
  background: #30E3CA;
  background-image: -webkit-linear-gradient(top, #30E3CA, #11999E);
  background-image: -moz-linear-gradient(top, #30E3CA, #11999E);
  background-image: -ms-linear-gradient(top, #30E3CA, #11999E);
  background-image: -o-linear-gradient(top, #30E3CA, #11999E);
  background-image: linear-gradient(to bottom, #30E3CA, #11999E);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 15px;
  height: 0;
  line-height: 0;
  color: #FFFFFF;
  font-family: sans-serif;
  width: 132px;
  font-size: 20px;
  font-weight: 100;
  padding: 25px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_CJK:hover {
  border: solid #FFFFFF 0;
  background: #30ECBE;
  background-image: -webkit-linear-gradient(top, #30ECBE, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30ECBE, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30ECBE, #2BC4AD);
  background-image: -o-linear-gradient(top, #30ECBE, #2BC4AD);
  background-image: linear-gradient(to bottom, #30ECBE, #2BC4AD);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 15px;
  text-decoration: none;
}
